{% extends 'base/base.html' %}


{% block content %}
<div class="card">
    <div class="card">
        <div class="card-header">
            Publication List
            <a href="{% url 'publication_create' %}" class="btn btn-success float-right">Create New</a>

        </div>

        <div class="card-body">
            <table class="table">
                <tr>
                    <th>S/L</th>
                    <th>Name</th>
                     <th>Action</th>
                </tr>
                {% for publication in publications %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'publication_detail' publication.pk %}">{{ publication.name }}</a></td>
                    <td>
                        <a href="{% url 'publication_edit' publication.pk %} " class="btn btn-primary">Edit</a>
                        <a href="{% url 'publication_delete' publication.pk %} " class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>


    {% endblock %}